*{
    margin: 0;
    padding: 0;
}
.card-img-top {
    width: 100%;
    height: 37vw;
    object-fit: cover;
}
ul{
    list-style-type: none;
}
.nosotros-subti{
    color: white; 
    font-size: 25px; 
    font-weight: 400; 
    text-align: center; 
    background: rgba(14, 65, 124); 
    margin: 20px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 4px solid #5878ca;
}

.nosotros-grl{
    height:60vh;
    position: relative;
    background-color: rgba(14, 65, 124, 0.664);
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
    border-radius:5px;
    border: 3px solid black;
}

.nosotros-links{
    display: flex;
    justify-content:space-around;
    align-items:center;
    list-style: none;
    position: relative;
    right: center;
    
}

.nosotros-datos{
    /* width: 30vw; */
    height:50vh;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius:5px;
    border: 1px solid black;
    margin: 5px;
    
}

.nosotros-txt{
    font-size:30px;
    font-weight:bold;
    line-height:30px;
    text-align:center;
    color:black;
    text-decoration: none;
    margin-top: 30px; 
}

.nosotros-impor{
    color: blue;
}

.nosotros-mapa{
    /* width: 50vw; */
    height:50vh;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius:5px;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.container-boton{
    background-color: #95fcbc;
    border: 1px solid #fff;
    position:fixed;
    z-index: 999;
    border-radius: 50%;
    bottom:20px;
    right:25px;
    padding:15px;
    transition: ease 0.3s;
    animation:efecto 2.5s infinite ;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: none;
}

.boton{
    width:30px;
    transition:ease 5s;
}

@keyframes efecto {
    0%{
        box-shadow: 0 0 0 0 rgba(255,255,255,0.85);
    }
    100%{
        box-shadow: 0 0 0 2px rgba(255,255,255,0.85);
    }
}