*{
    margin: 0;
    padding: 0;
}

.home{
    height: 100vh;
    position:relative;
}

.propiedades{
    height: 60vh;
    position: relative;
    margin: 20px;
    
}

.semi-circulo {
    width: 55vw;
    height: 100vh;
    background-color: rgba(14, 65, 124, 0.664);
    border-top-left-radius: 620px;
    border-bottom-left-radius: 0px;
    border-bottom: 0;
    position: absolute;
    right: 0px;   
    z-index: 1000;
}

.titulo-home{

    top: 35%;
    font-size: 7.5em;
    font-weight: 700;
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.55);
    position: relative;
}

.subtitulo-home{
    font-size: 0.9em;
    font-weight: 500;
    
}

.imagen-home-bg{
    z-index: -1000;
    width: 100%;
    position:relative;
}

.imagen-home-realstate{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container-home-busqueda{
    
}

.subtitulos{
    text-align: center;
    font-size : 30px;

}

.acerca-de-nosotros{
    height: 70vh;
    position: relative;
}

.nosotros-grl{
    height:60vh;
    position: relative;
    background-color: rgba(14, 65, 124, 0.664);
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
    border-radius:5px;
    border: 3px solid black;
}

.nosotros-links{
    display: flex;
    justify-content:space-around;
    align-items:center;
    list-style: none;
    position: relative;
    right: center;
    
}

.nosotros-datos{
    width: 100vh;
    height:50vh;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius:5px;
    border: 3px solid black;
    margin: 5px;
    
}

.nosotros-txt{
    font-size:30px;
    font-weight:bold;
    line-height:30px;
    text-align:center;
    color:black;
    text-decoration: none;
    margin-top: 30px; 
}

.nosotros-impor{
    color: blue;
}

.nosotros-mapa{
    width: 100vh;
    height:50vh;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius:5px;
    border: 3px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.nosotros-subti{
    color: white; 
    font-size: 25px; 
    font-weight: 400; 
    text-align: center; 
    background: rgba(14, 65, 124, 0.664); 
    margin: 20px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 4px solid #5878ca;
}