*{
    margin: 0;
    padding: 0;
}

.home{
    height: 100vh;
}

.propiedades{
    height: 100vh;
}

.acerca-de-nosotros{
    height: 100vh;
}

.semi-circulo {
    width: 55vw;
    height: 111vh;
    background-color: rgba(14, 65, 124, 0.664);
    border-top-left-radius: 620px;
    border-bottom-left-radius: 0px;
    border-bottom: 0;
    position: absolute;
    right: 0px;   
    z-index: 1000;
}

.titulo-home{

    top: 35%;
    font-size: 7.5em;
    font-weight: 700;
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.55);
    position: relative;
}

.subtitulo-home{
    font-size: 0.9em;
    font-weight: 500;
    
}

.imagen-home-bg{
    z-index: -1000;
    position:relative;
}
