*{
    margin: 0;
    padding: 0;
}

.home{
    height: 100vh;
    position:relative;
}

.propiedades{
    height: 70vh;
    position: relative;
    /* margin: 20px; */
    
}

.semi-circulo {
    width: 55vw;
    height: 100vh;
    background-color: rgba(14, 65, 124, 0.664);
    border-top-left-radius: 620px;
    border-bottom-left-radius: 0px;
    border-bottom: 0;
    position: absolute;
    right: 0px;   
    z-index: -900;
}

.titulo-home{

    top: 35%;
    font-size: 7.5em;
    font-weight: 700;
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.55);
    position: relative;
}

.subtitulo-home{
    font-size: 0.9em;
    font-weight: 500;
    
}

.imagen-home-bg{
    z-index: -100;
    width: 100%;
    position:relative;
    z-index: -1000;
}

.imagen-home-realstate{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1000;
}

.container-home-busqueda{
    
}

.subtitulos{
    text-align: center;
    font-size : 30px;

}

.acerca-de-nosotros{
    height: 70vh;
    position: relative;
}


.mapa{
    height: 400px;
    width: 500px;
}

.container-boton{
    background-color: #95fcbc;
    border: 1px solid #fff;
    position:fixed;
    z-index: 999;
    border-radius: 50%;
    bottom:20px;
    right:25px;
    padding:15px;
    transition: ease 0.3s;
    animation:efecto 2.5s infinite ;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: none;
}

.boton{
    width:30px;
    transition:ease 5s;
}

@keyframes efecto {
    0%{
        box-shadow: 0 0 0 0 rgba(255,255,255,0.85);
    }
    100%{
        box-shadow: 0 0 0 2px rgba(255,255,255,0.85);
    }
}